<div>
  <header class="bg-light-blue sticky-header">
    <div class="container h100">
      <div class="row h100">
        <div class="col-12 col-md-12 col-lg-12 xl-12 flex-center align-right">
          <nav class="nav navbar-expand-lg navbar-light w100">
            <div class="tmw100 ">
              <a class="navbar-brand" routerLink="/home1">
                <div class="logo"><img src="https://www.covrize.com/static/logo-e3af58addd5950406390d31943e4c5d2.svg" alt="Covrize solution........." /></div>
              </a>
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#covrizenavbar"
                aria-controls="covrizenavbar"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="covrizenavbar">
              <ul class="navbar-nav mb-2 mb-lg-0 fr-mnfr">
                <li class="nav-item dropdown">
                  <a class="nav-link h6 h6 " data-toggle="dropdown"  href="#" id="helo">What We Do</a>
                  <ul
                    class="sub-menu dropdown-menu"
                    aria-labelledby="navbarDropdown"
                  >
                    <li>
                      <a class="dropdown-item" routerLink="/digital"
                        >Digital Transformation</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        routerLink="/software"
                        >Software Product Engineering</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/technology"
                        >Technology Consulting</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/cloud"
                        >Cloud Consulting</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/smart"
                        >Smart Teams</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/for"
                        >For Geomatics Industry</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/forauto"
                        >For Automotive Industry</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="nav-item dropdown ">
                  <a class="nav-link h6" href="#">Technology Practices</a>
                  <ul class="sub-menu dropdown-menu">
                    <li>
                      <a class="dropdown-item" routerLink="/microsoft"
                        >Microsoft Practices</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/uiux"
                        >UI/UX Development</a
                      >
                    </li>
                    <li><a class="dropdown-item" routerLink="/devops">DevOps</a></li>
                    <li>
                      <a
                        class="dropdown-item"
                        routerLink="/solution"
                        >Solution Architecture Advisory</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/clouds"
                        >Cloud Services</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/open"
                        >Open Source Solutions</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link h6" href="#">Offshore Staff</a>
                  <ul class="sub-menu dropdown-menu">
                    <li>
                      <a class="dropdown-item" routerLink="/hiredotnet"
                        >Hire Dot Net Team</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/hiredevops"
                        >Hire DevOps Engineers</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/hireproject"
                        >Hire Project Managers</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/hirecloud"
                        >Hire Cloud Experts</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/hirebusiness"
                        >Hire Business Analysts</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/hireuiux"
                        >Hire UI Developers</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link h6" href="#">Discover Covrize</a>
                  <ul class="sub-menu dropdown-menu">
                    <li>
                      <a class="dropdown-item" routerLink="/about">About Us</a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/leadership"
                        >Leadership</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/ourteam">Our Team</a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/ourculture"
                        >Our Culture</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/credentials"
                        >Credentials</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/projects">Projects</a>
                    </li>
                     <li>
                      <a class="dropdown-item" routerLink="/blogs">Blogs</a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/partner"
                        >Partner with Us</a
                      >
                    </li>
                    <li><a class="dropdown-item" routerLink="/career">Career</a></li>
                  </ul>
                </li>
                <a class="contact-btn" routerLink="/contact">Contact Us</a>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
</div>


