<footer>
<br><br>
 <div class="row">
  <div class=" col-1 container">
    <button
      md-raised-button
      class="btn btn-outline-primary md-raised md-primary"
      (click)="onEdit()"
    >
      <img
        id="upimg"
        src="https://img.icons8.com/fluency/48/000000/long-arrow-up.png"
      />
    </button>
  </div>
  <div class="col-10 container">
    <div class="row">
      <div class="row pt-70">
        <div class="col-12 col-md-6 col-xl-3">
          <h3 class="mb-30"></h3>

          <a routerLink="/home1">
            <div class="logo">
              <img
                src="https://www.covrize.com/static/logo-e3af58addd5950406390d31943e4c5d2.svg"
                alt="Covrize solution........."
              />
            </div>
          </a>

          <div class="contect-info_div mt-4">
            <a href="mailto:info@covrize.com">info@covrize.com</a
            ><a href="tel:+917486025032"
              >India:
              <!-- -->+917486025032</a
            ><a href="tel:+1(347) 352-0172"
              >USA:
              <!-- -->+1(347) 352-0172</a
            >
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-3">
          <div class="nav-menu_footer">
            <h5><b>What We Do</b></h5>
            <hr />
            <ul>
              <li>
                <a routerLink="/digital">Digital Transformation</a>
              </li>
              <li>
                <a routerLink="/software">Software Product Engineering</a>
              </li>
              <li>
                <a routerLink="/technology">Technology Consulting</a>
              </li>
              <li><a routerLink="/cloud">Cloud Consulting</a></li>
              <li><a routerLink="/smart">Smart Teams</a></li>
              <li>
                <a routerLink="/for">For Geomatics Industry</a>
              </li>
              <li><a routerLink="/forauto">For Automotive Industry</a></li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-2">
          <div class="nav-menu_footer">
            <h5><b>Technology Practices</b></h5>
            <hr />
            <ul>
              <li>
                <a routerLink="/microsoft">Microsoft Practices</a>
              </li>
              <li><a routerLink="/uiux">UI/UX Development</a></li>
              <li><a routerLink="/devops">DevOps</a></li>
              <li>
                <a routerLink="/solution">Solution Architecture Advisory</a>
              </li>
              <li><a routerLink="/clouds">Cloud Services</a></li>
              <li>
                <a routerLink="/open">Open Source Solutions</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-2">
          <div class="nav-menu_footer">
            <h5><b>Offshore Staff</b></h5>
            <hr />
            <ul>
              <li><a routerLink="/hiredotnet">Hire Dot Net Team</a></li>
              <li><a routerLink="/hiredevops">Hire DevOps Engineers</a></li>
              <li>
                <a routerLink="/hireproject">Hire Project Managers</a>
              </li>
              <li>
                <a routerLink="/hirecloud">Hire Cloud Experts</a>
              </li>
              <li>
                <a routerLink="/hirebusiness">Hire Business Analysts</a>
              </li>
              <li>
                <a routerLink="/hireuiux">Hire UI/UX Developers</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-2">
          <div class="nav-menu_footer">
            <h5><b>Discover Covrize</b></h5>
            <hr />
            <ul>
              <li><a routerLink="/about">About Us</a></li>
              <li><a routerLink="/leadership">Leadership</a></li>
              <li><a routerLink="/ourteam">Our Team</a></li>
              <li><a routerLink="/ourculture">Our Culture</a></li>
              <li><a routerLink="/credentials">Credentials</a></li>
              <li><a routerLink="/projects">Projects</a></li>
              <li><a routerLink="/blogs">Blogs</a></li>
              <li><a routerLink="/partner">Partner with Us</a></li>
              <li><a routerLink="/contact">Career</a></li>
              <li>
                <a href="https://www.covrize.com/">covrize oficial website</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
 
 
 </div>
</footer>
