<br><br><br><body>

  <input type="radio" name="position" checked />
  <input type="radio" name="position" />
  <input type="radio" name="position" />
  <main id="carousel">
    <div class="item">
      <div class="card">
        <img
          id="img1"
          src="https://www.covrize.com/static/3a783d3eea22d67314baaea2e7633a74/5d191/charlie.webp"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Charlie <br />Tech Consultant</h5>
          <p class="card-text">
            About my experience working with Covrize, Urvil was a pleasure to
            work with. He is a true professional, extremely patient with my many
            changing requests and he is very knowledgeable. He provided solid
            solutions to my job requirements, and took the time to explain
            everything and ensure that I understood the details of the solution.
            In the future, I plan to work with him and his team on a regular
            basis.
          </p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="card">
        <img
          id="img2"
          src="https://www.covrize.com/static/b164cf32f5ad30208edb505d69e8e24b/5d191/r-b.webp"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Richard Burgher <br />Chairman</h5>
          <p class="card-text">
            I have known Varix Patel professionally since 2014. He led the
            technological development of all our software applications until his
            departure from his previous organization. Varix's ability to make
            good on his promise while delivering a world class product puts him
            in the category of best among equals. The successful start-up of our
            platform business is a testament to his extraordinary talents.
          </p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="card">
        <img
          id="img2"
          src="https://www.covrize.com/static/42607541af635420301a10f359ea3bda/5d191/np-testimonial.webp"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">
            Narendra Patel <br />Executive Vice President
          </h5>
          <p class="card-text">
            Covrize has enabled us to collaborate with a team of excellent
            engineers and complete projects faster than ever before because of
            our access to such a large talent pool. Their project management and
            delivery methods are considerably superior to those of any other
            outsourcing firm with which we have ever worked. I recommend them as
            a dependable vendor team. I wish them the best of luck.
          </p>
        </div>
      </div>
    </div>

    <main></main>
  </main>
</body>
