.banner-bg {
    background-repeat: no-repeat;
    background-size: cover;
    height: 660px;
    width: 100%;
    z-index: 123;
}
.banner-bg-text {
    align-items: end;
    /* display: flex; */
    height: 100%;
    margin-top: 350px;
    color: white;
    /* padding-bottom: 20px; */
}



.mb-20 {
    margin-bottom: 20px;
}
.cust-h1 {
    font-weight: 600;
    line-height: 54px;
}
h1, h2, h3 {
    word-wrap: break-word;
}
 h2 {
    color: #062168;
    font-size: 44px;
    font-weight: 600;
    line-height: 76px;
}
p {
    word-wrap: break-word;
    color: #36414c;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.brand-we {
    color: #ea4593;
    font-family: Butler;
}