<app-header></app-header>

<div class="container-fluid">
<!-- <router-outlet></router-outlet> -->

<router-outlet (activate)="onActivate()"></router-outlet>


</div>






<!-- <button md-raised-button class="btn btn-outline-primary md-raised md-primary" (click)="onEdit()">TOP</button> -->
<app-footer></app-footer>












<!-- <app-header></app-header>




<app-home1></app-home1>

<app-home2></app-home2> -->

<!-- <div class="control-section">
  
  <ejs-dropdownlist [dataSource]='localData' [fields]='dataFields' 
        
  placeholder='Select a game' popupHeight='2010px' popupWidth='2500px' sortOrder='Descending'>

 </ejs-dropdownlist>
</div> -->
