<section
  class="mb-60 position-relative banner-bg"
  style="
    background-image: url('https://www.covrize.com/static/50ab83d008e730521bbf01e33f29a0c1/62d71/career-banner.webp');
  "
>
  <div class="container h100">
    <div class="row h100 align-center-header">
      <div class="col-12 col-lg-12 banner-bg-text">
        <div>
          <h1>
            It’s not career shaping, Its <b>LIFE</b> shaping experience with us.
          </h1>
          <h3>&nbsp;</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<br /><br /><br />

<section class="pt-120 partner-logo_section">
  <div class="container">
    <div class="row mb-60">
      <div class="col-12">
        <h2 class="mb-20">Become a part of the COVRIZE family</h2>
        <p>
          Email your resume to <a class="apply-link" href="mailto:hcm@covrize.com">hcm@covrize.com</a>
        </p>
      </div>
    </div>
    <div class="row career-item">
      <div class="col-md-3 col-12">
        <h4>Software Engineer- Asp. Net MVC : 10 Positions</h4>
        <p>Experience: 2 to 6 Years</p>
      </div>
      <div class="col-md-6 col-12">
        <ul>
          <li>
            Design of applications according to defined business requirements,
            workflow design, designing of user interface
          </li>
          <li>Writing tested, idiomatic, and documented Code.</li>
          <li>Meeting the project deadlines.</li>
          <li>Mentoring junior developers.</li>
        </ul>
      </div>
      <div class="col-md-3 col-12">
        <a href="mailto:hcm@covrize.com" class="call-btn">Apply Now</a>
      </div>
    </div>
    <div class="row career-item">
      <div class="col-md-3 col-12">
        <h4>Technical Project Manager : 2 Positions</h4>
        <p>Experience: 6+ Years</p>
      </div>
      <div class="col-md-6 col-12">
        <ul>
          <li>
            Experience of .NET, MVC and SQL languages. Must have experience in
            developing Mobile &amp; Web based applications.
          </li>
          <li>Knowledge of build and release procedures</li>
          <li>
            Experience managing projects through the entire Software Delivery
            Life Cycle (SDLC) using standard project processes and tools (Agile)
          </li>
          <li>Experience of Database design concepts</li>
          <li>
            Ability to document requirements and manage the software
            requirements
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-12">
        <a href="mailto:hcm@covrize.com" class="call-btn">Apply Now</a>
      </div>
    </div>
    <div class="row career-item">
      <div class="col-md-3 col-12">
        <h4>Tech Lead : 4 Positions</h4>
        <p>Experience: 6+ Years</p>
      </div>
      <div class="col-md-6 col-12">
        <ul>
          <li>
            Clarity on software development life cycle to execute the end to end
            application development with help of required programming languages
            skills, data base, scripting languages skills, by choosing correct
            project execution methodologies and project management tools like
            SOA, Coding practices, ASP.NET, MVC, Web API, C#, .Net core
            framework, Java Script, JA Query, SSIS, SSRS, Crystal Report, MS SQL
            Server, MS Access, TFS, SVN Tortoise, AGILE, Scrum, Waterfall, Test
            Case Writing &amp; Unit Testing etc.
          </li>
          <li>
            Possess ability to deliver the task/project as per time line despite
            any situation / circumstances. Should have strong business acumen
            and result orientation.
          </li>
          <li>
            Written, verbal and comprehension skills to make professional
            presentations to their team, build one-on-one relationship, write
            detailed reports, and communicate by means of email and phone
            conversations such that it is understood well by non-accounting
            staff.
          </li>
          <li>
            Ability to write the codes and understand the complex codes of
            developers to meet the coding standards.
          </li>
          <li>
            Willing to continuously upgrade his self about new technologies and
            industry trends.
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-12">
        <a href="mailto:hcm@covrize.com" class="call-btn">Apply Now</a>
      </div>
    </div>
  </div>
</section>
