
<!-- discover section5 -->

<section class="pt-120 bg-banner-about">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-xl-6">
        <h2 class="banner-title_txt">
          Do You Want to Build IT Solutions for Your Business?
        </h2>
      </div>
      <div class="col-12 col-md-6 col-xl-6">
        <div>
          <a class="get-btn float-end" routerLink="/contact">Discover</a>
        </div>
      </div>
    </div>
  </div>
</section>

<br /><br /><br />
