.banner-bg {
    background-repeat: no-repeat;
    background-size: cover;
    height: 660px;
    width: 100%;
    z-index: 123;
}
h1, h2, h3 {
    word-wrap: break-word;
}
h1, h2 {
    color: #062168;
    font-size: 44px;
    font-weight: 600;
    line-height: 76px;
}
p {
    word-wrap: break-word;
    color: #36414c;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
body{
     font-family: 'Montserrat'; 
}
.bloger-photo {
    border-radius: 50%;
    float: left;
    height: 60px;
    width: 60px;
}