<section
  class="mb-60 position-relative banner-bg"
  style="
    background-image: url('https://www.covrize.com/static/368fead1bd179a9847b4d1b5555dec8f/62d71/ourteam-banner.webp');
  "
>
  <div class="container h100">
    <div class="row h100 align-center-header">
      <div class="col-12 col-lg-12 banner-bg-text">
        <div>
          <h1>Our Team is our <b>ATTITUDE</b>.</h1>
          <h3>&nbsp;</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<br /><br /><br />

<section class="position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-lg-12 text-center">
        <h2 class="mb-20">Team Work is the Dream Work</h2>
        <h3 class="mb-30">
          <b class="brand-we">WE</b> are a team of believers, thinkers, and
          creators.
        </h3>
        <h4 class="mb-30">
          <b class="brand-we">WE</b> are customer-focused and daring enough to
          experiment with new ideas and opportunities.
          <b class="brand-we">WE</b> enjoy a good challenge and believe in
          working together.
        </h4>
      </div>
    </div>
  </div>
</section>
